<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Home</title>
    <style>
        /* #alert {
            display: none;
        } */
    </style>
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/userAfterLogin">Student Home</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/studentDetails">Add Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/contactMentor">Contact Mentor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/logout">Log Out</a>
            </li>                       
          </ul> 
        </div>
        
      </div>
    </nav>



    <!-- Heading -->

    <div class="container">
        <h1 class="text-success my-4">Add Student Details</h1>
    </div>

    <div class="container">
        <h3 id="successMsg" class="text-success my-2">{{ successMsg }}</h3>
    </div>


    <!-- Registration Form -->

    <div class="container my-4">
        <form action="/studentDetails" method="post" id="form">

            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" placeholder="Enter your Name" class="form-control" id="name" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" name="email" placeholder="Enter your email" class="form-control" id="email" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="roll" class="form-label">Roll Number</label>
                <input type="text" name="roll" placeholder="Enter your college roll no" class="form-control" id="roll" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="dept" class="form-label">Department</label>
              <input type="text" name="dept" placeholder="Enter your department" class="form-control" id="dept" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="sem" class="form-label">Semester</label>
                <input type="text" name="sem" placeholder="Enter your semester" class="form-control" id="sem" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
              <label for="sem" class="form-label">Session</label>
              <input type="text" name="session" placeholder="Enter your session" class="form-control" id="session" aria-describedby="emailHelp">
            </div>

            <!-- <div class="mb-3">
                <label for="CGPA" class="form-label">CGPA</label>
                <input type="text" name="CGPA" placeholder="Enter your CGPA" class="form-control" id="CGPA" aria-describedby="emailHelp">
            </div> -->

            <!-- <div class="mb-3">
                <label for="newTech" class="form-label">New Technologies</label>
                <input type="text" name="newTech" placeholder="Languages that you have learned" class="form-control" id="newTech" aria-describedby="emailHelp">
            </div> -->
            
            <!-- <div class="mb-3">
                <label for="certificates" class="form-label">Certificates</label>
                <input type="text" name="certificates" placeholder="Enter your certificate names" class="form-control" id="certificates" aria-describedby="emailHelp">
            </div> -->
              
            <!-- <div class="mb-3">
                <label for="mentorScore" class="form-label">Mentor Score</label>
                <input type="number" name="mentorScore" placeholder="Enter your mentor score" class="form-control" id="mentorScore" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="mentorRemarks" class="form-label">Mentor Remarks</label>
                <input type="number" name="mentorRemarks" placeholder="Enter your mentor remarks" class="form-control" id="mentorRemarks" aria-describedby="emailHelp">
            </div> -->

            <!-- <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" name="date" class="form-control" max="2012-12-31">
            </div> -->

            <button type="submit" class="btn btn-outline-success" id="createAccount">Add Details</button>
          </form>
    </div>






   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
    // $(document).ready(function(){
    //     $('#regForm').submit(function(){
    //         console.log('create account clicked')
    //     $('#alert').show()
    //     }) 
    //     });

    //     $('#form').submit(function(e) {
    //             $('#messages').removeClass('hide').addClass('alert alert-success alert-dismissible').slideDown().show();
    //             $('#messages_content').html('<h4>MESSAGE HERE</h4>');
    //             $('#modal').modal('show');
    //             e.preventDefault();
    //         });
        setTimeout(() => {
            $('#successMsg').hide()
        }, 2000);
</script>
</html>